body {
  margin: 10px;
  background: black;
  
}
p {
  color: lightblue;
  margin: 20px 0 0 10px;
  display: block;
}
container {
  margin: 0;
}
button {
  margin-left:4px;
  margin-bottom: 4px;
}
img {
  margin: 3px;
}